<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}



<!-- Image Map  

<div class="imgmap_css_container" id="imgmap2014227154933">


<a style="position: absolute; top: 2px; left: 20px; width: 100px; height: 30px;"  alt="image-map-octopress" title="image-map-octopress" href="http://octopress.org/" target="" ></a>

<a style="position: absolute; top: 2px; left: 180px; width: 116px; height: 30px;"  alt="image-map-welcome" title="image-map-welcome" href="http://polina.io/about/" target="" >
</a>

<a style="position: absolute; top: 2px; left: 450px; width: 74px; height: 14px;"  alt="image-map-github" title="image-map-github" href="https://github.com/psoshnin" target="" ><em>github</em></a>

<a style="position: absolute; top: 2px; left: 600px; width: 200px; height: 12px;"  alt="image-map-twitter" title="image-map-twitter" href="https://twitter.com/907code" target="" ><em>twitter</em></a>

<a style="position: absolute; top: 4px; left: 800px; width: 96px; height: 12px;"  alt="image-map-linkedin" title="image-map-linkedin" href="http://www.linkedin.com/in/polinasoshnin" target="" ><em>linkedin</em></a>

</div> -->

</hgroup>